<h4>Reviews</h4>

<blockquote ng-repeat="review in gem.reviews">
  <strong>Stars: {{review.stars}}</strong>
  {{review.body}}
  <cite class="clearfix">-{{review.author}}</cite>
</blockquote>

<form name="reviewForm"
      ng-controller="ReviewController as reviewCtrl"
      ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
      novalidate>
  <!-- Live Preview -->
  <blockquote>
    <b>Stars: {{reviewCtrl.review.stars}}</b>
    {{reviewCtrl.review.body}}
    <cite>by: {{reviewCtrl.review.author}} on {{reviewCtrl.review.createdOn | date}}</cite>
  </blockquote>
  <!-- Review Form -->
  <h4>Submit a Review</h4>
  <fieldset class="form-group">
    <select class="form-control"
            ng-options="stars for stars in [5,4,3,2,1]"
            title="Stars"
            ng-model="reviewCtrl.review.stars"
            required>
      <option value="">Rate the Product</option>
      <option value="1">1 Star </option>
      <option value="2">2 Stars </option>
      <option value="3">3 Stars </option>
      <option value="4">4 Stars </option>
      <option value="5">5 Stars </option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <textarea class="form-control"
              placeholder="Write a short review of the product.."
              title="Review" ng-model="reviewCtrl.review.body"
              required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="email" class="form-control"
           placeholder="jimyDean@example.org"
           title="Email"
           ng-model="reviewCtrl.review.author" required/>
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right"
           value="Submit Review"/>
  </fieldset>
</form>
